<a href="https://colab.research.google.com/github/hsallrounder/Application-Of-Machine-Learning-In-Industries-Workshop-2023/blob/main/CreditCard_Application_Of_Machine_Learning_In_Industries_Workshop_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [28]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
data=pd.read_csv('/content/drive/MyDrive/Datasets/creditcard.csv')

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [31]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [32]:
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [33]:
legit=data[data.Class==0]
fraud=data[data.Class==1]

In [34]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [35]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [36]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [37]:
legit_samples=legit.sample(n=492)

In [38]:
new_data=pd.concat([legit_samples,fraud],axis=0)

In [39]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
141051,84098.0,-1.740372,0.627003,-1.442924,1.663992,-4.663637,1.901591,4.656039,-0.112288,-1.187707,...,0.136012,0.652476,0.780598,0.466609,-0.164735,-0.256993,0.503720,-0.116307,1061.25,0
14639,25854.0,-0.999172,-0.286049,2.074735,-2.526754,-1.201500,-0.265783,-0.440389,0.053244,-1.944310,...,-0.034928,0.335987,-0.296998,0.048524,0.299180,-0.160432,0.109142,0.109512,51.00,0
259635,159207.0,0.021334,0.805452,0.277057,-0.583203,0.395313,-1.048936,0.979469,-0.158638,0.016498,...,-0.256018,-0.582941,0.094073,-0.032212,-0.516221,0.144676,0.245671,0.096469,7.83,0
181763,125115.0,2.077106,-1.045778,-1.437531,-1.007298,-0.588311,-0.814280,-0.435302,-0.125692,-0.451979,...,-0.020287,-0.351414,0.191452,-0.556584,-0.262291,-0.417442,-0.062177,-0.064081,77.00,0
254627,156827.0,2.122316,-0.962503,-2.525940,-1.676110,1.626630,3.408812,-1.529461,0.941478,-0.095372,...,0.238221,0.661569,0.142103,0.604128,-0.112563,-0.067314,0.048173,-0.017584,19.95,0

In [40]:
new_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [41]:
new_data['Class'].mean()

0.5

# Sample Distribution

In [42]:
X=new_data.drop(columns='Class',axis=1)
Y=new_data['Class']

In [43]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [44]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [45]:
model=LogisticRegression(max_iter=3000)

In [46]:
model.fit(X_train,Y_train)

LogisticRegression(max_iter=3000)

In [47]:
pred=model.predict(X_train)

In [48]:
acc=accuracy_score(pred,Y_train)

In [49]:
print(acc)

0.9212198221092758

In [50]:
pred=model.predict(X_test)

In [51]:
acc1=accuracy_score(pred,Y_test)

In [52]:
print(acc1)

0.9035532994923858